{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Vebshop DELETE{% endblock %}

{% block content %}
{% if perms.catalog.delete_product or user == object.owner %}
<div class="container mt-5">
    <h2>Удаление товара</h2>
    <p>Вы действительно хотите удалить товар - {{ object.name }}  - ?</p>
    <form  class="row" method="POST" enctype="multipart/form-data">
        <div class="col-6">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <div class="form-group mt-3">
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
        </div>
        <div class="form-error">{{ object.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-danger mt-2">Удалить</button>
        <a href="{% url 'catalog:product_list' %}" class="mt-2 btn btn-outline-success mt=2">Назад</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}